%body
  %h1
    IP Camera Dashboard
  %p
    %a{:href => "/"} Grid View
    %a{:href => "/tiled"} Tiled View
    %a{:href => "/venues"} Venues
  -if venues.any?
    %ul.venues
      - venues.each do |venue|
        %li.venue
          %div.details
            %ul
              %li
                %span Venue:
                %span
                  = venue[0]
              -unless venue[4].nil?
                %li
                  %span Last Updated:
                  -if not_regularly_updating(venue[4])
                    %span.flag
                      = venue[4]
                  -else
                    %span.updating
                      = venue[4]
          %div.feed
            -unless venue[4].nil?
              %img{:src => "feeds/#{venue[0]}/#{venue[0]}.jpeg"}
          %div.clear
  -else
    = "Sorry IP camera information not setup yet."